:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
}

h1 {
  text-align: center;
  background-color: rgb(214, 32, 32);
  color: white;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
}

.search-container input,
.search-container button {
  margin-right: 10px;
  border-radius: 100px; /* Ajusta el espacio entre el input y el botón según sea necesario */
}

